@mixin container($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/font/Manrope-VariableFont_wght.ttf");
}

// main
$main_font: 'Manrope';
$max_width: 1920px;
$min_width: 1450px;

$text_color_primary: #ffffff;
$text_color_second: black;
$text_color_third: #22bce0;

$background_color_primary: #0e0d0f;
$background_color_second: #aa23ff;
$background_color_third: #ffffff;

// hover
$text_color_hover: $background_color_second;
$background_color_hover: #ff0066;

$background_color_border_hover: #ac49f3;
$background_color_img_hover: #9500ff;

// header

// body

// footer
$divider: #ffffffab;
$color_text_footer: #dfdde6c9;

//social footer
$background_color_border: #565656;

//copy
$color_text_copy: #ffffff8e;