@mixin container($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/font/Manrope-VariableFont_wght.ttf");
}

// main

// hover

// header

// body

// footer

//social footer

//copy